.side-menu {
  top: 0;
  left: 0;
  background-color: #FFF;
  align-items: center;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100vh; /* Altura fixa em relação à altura da janela do navegador */
}


.side-menu ul {
  list-style-type: none;
  padding-top: 40px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25%;
  height: 50vh;
}

.side-menu li {
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  width: 100% ;
}

.side-menu .active-section {
  display: block;
  background-color: #a2b63d;
  height: 10%;
  width: 100%;
}

.side-menu li:hover {
  background-color: #a2b63d;
  border-radius: 10px;
  color: #FFF;
}
.side-menu a:hover {
  color: #FFF;
}
.side-menu li a {
  color: #29292e;
  text-decoration: none;
}
.side-menu li img {
  margin-right: 4px;
}

.top-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #a2b63d;
  border-radius: 15px;
  margin-top: 10px;
  width: 97%;
  height: 60px;
  padding-bottom: 15px;
  h1 {
    color: #29292e;
    font-size: 20px;
    margin-left: 2rem;
    margin-top: 0.5rem;
  }
  .user {
    color: #29292e;
    font-size: 20px;
    margin-right: 2rem;
    margin-top: 0.5rem;
  }
}

.side-menu.closed {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
	width: 55px;
	height: auto;
  left: 0;
  padding-top: 40px;
  background-color: #FFF;
}

.icon-close {
  font-size: 20px;
  margin-bottom: 5em;
  background: none;
  border: none;
  cursor: pointer;
}

.container-menu {
  display: flex;
  flex-direction: row;
  .name-project {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    .separator {
      width: 85%;
      border-bottom: 1px solid #a2b63d;
    }
  }
}

.icon-open {
  border: none;
  cursor: pointer;
  justify-content: center;
  background: none;
}

.icon-exit {
  background: none;
  text-decoration: none;
  margin-bottom: 76px;
  border: none;
  cursor: pointer;
}

.icon-exit-active {
  background: none;
  text-decoration: none;
  margin-top: 14vh; 
  border: none;
  cursor: pointer;
}

