* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body {
  background: red;
  color: #29292e;
  height: 100%;
  width: 100%;
}

body,
input,
button,
textarea {
  font: 400 16px 'Roboto', sans-serif;
}

.app {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: #eef1f5;
  width: 100vw;
  height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.areas {
  width: 97%;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: #FFF;
  border-radius: 25px;
}
