.form-cadastrar-ficha {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .cabecalho-form {
    margin-bottom: 3px;
    margin-top: 5px;
  }
  .container-ficha {
    width: 90%;
      .container-btn-autorizar {
        display: flex;
        justify-content: flex-end;
        .btn-autorizar {
          height: 50px;
          border-radius: 8px;
          font-weight: 500;
          background: #A2B63D;
          color: #fff;
          padding: 0 32px;
          cursor: pointer;
          border: 0;
        
          transition: filter 0.4s;
        
          &.outlined {
            background: #fff;
            border: 1px solid #835afd;
            color:#835afd;
          }
        
          &:not(:disabled):hover {
            filter: brightness(0.9);
          }
        
          &:disabled {
            opacity: 0.6;
            cursor: not-allowed;
          }
        }
      }
  }
  .container-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 90%;
    .btn-avancar {
      height: 50px;
      border-radius: 8px;
      font-weight: 500;
      background: #A2B63D;
      color: #fff;
      padding: 0 32px;
      display: flex;
      justify-content: center;
      align-items: center;
    
      cursor: pointer;
      border: 0;
    
      transition: filter 0.4s;
    
      &.outlined {
        background: #fff;
        border: 1px solid #835afd;
        color:#835afd;
      }
    
      &:not(:disabled):hover {
        filter: brightness(0.9);
      }
    
      &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
      }
    }
    
    .btn-voltar {
      height: 50px;
      border-radius: 8px;
      font-weight: 500;
      background: #e1dede;
      color: black;
      padding: 0 32px;
    
      display: flex;
      justify-content: center;
      align-items: center;
    
      cursor: pointer;
      border: 0;
    
      transition: filter 0.4s;
    
      &.outlined {
        background: #fff;
        border: 1px solid #835afd;
        color:#835afd;
      }
    
      &:not(:disabled):hover {
        filter: brightness(0.9);
      }
    
      &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
      }
    }
  }

}
