.container-dashboard-candidato {
  display: flex;
  flex-direction: column;
.listagem-candidatos {
  font-family: 'Poppins', sans-serif;
  border-collapse: collapse;
  width: 80%;
  max-height: 350px;
  overflow: auto;
  align-items: center;
  margin: auto auto 90px auto;
}

.listagem-candidatos thead { 
  position: sticky;
  top: 0;
   z-index: 1;
}

.listagem-candidatos th,
.listagem-candidatos td {
  text-align: left;
  padding: 8px;
  
}

.listagem-candidatos th {
  background-color: white;
  border-bottom: 1px solid #ddd;
  color: black;
}

// .listagem-candidatos tr:nth-child(even) {
//   background-color: #f2f2f2;
// }

.listagem-candidatos tr:hover {
  background-color: #ddd;
}

.listagem-candidatos .listagem-candidatos-nome {
  width: 40%;
}

.listagem-candidatos .listagem-candidatos-cpf {
  width: 30%;
}

.listagem-candidatos .listagem-candidatos-idade {
  width: 30%;
}

.listagem-candidatos {
  .listagem-candidatos-editar img {
    width: 18px;
    height: 18px;
  }
  button {
    cursor: pointer;
    align-self: center;
  }

  img {
    width: 20px;
    height: 20px;
    background: none;  
  }
}

.listagem-candidatos button {
  background: none;
  border: none;
}

.busca-content {
  display: flex;
  justify-content: space-between;
  margin: auto;
  height: 100px;
  form {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 2em;
    margin-right: 20px;

    .button {
      flex: 1;
      width: 10px;
      height: 40px;
      margin-top: 10px;
    }
  }
}
}